// slick 재정의
.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    content: '';
}

/*
&.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    bottom: -25px;
}
*/
.slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
}

.slick-dots li button:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #141414;
    box-sizing: border-box;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    background-color: #141414;
}

/*--- bxSlider 재정의 ---*/
.bx-wrapper {
    position: relative;
    margin: 0 auto;
}

/* .bx-wrapper .bx-pager {display: none;} */
.bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    left: 0;
    background: none;
}

#slider-prev .bx-prev,
#slider-next .bx-next {
    display: block;
    width: 16px;
    height: 36px;
}

.bx-wrapper .bx-controls-direction a {
    width: 30px;
    height: auto;
    top: 158px;
    z-index: auto;
}

.bx-wrapper .bx-controls-direction a img {
    width: 100%;
}

/* .bx-wrapper .bx-prev {left: -50px;}
.bx-wrapper .bx-next {right: -50px;} */