@charset "utf-8";

@import '../../parts/variables';
@import '../../parts/mixins';

.wrapper-pd-1 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.page-content {
    // .body-title {
    //     @include lv-layout-p-1;
    // }

    .page-body {
        @include lv-layout-1;
    }
}

.collapse-btn {

    .down,
    .up {
        display: none;
    }

    .down {
        display: block;
    }

    &.active {

        .down,
        .up {
            display: none;
        }

        .up {
            display: block;
        }
    }
}

.intro-content {

    .page-body {
        padding: 0;
    }

    .intro-visual {
        position: relative;
        // height: 326px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background: transparent linear-gradient(1deg, #3182F6 0%, #3182F680 100%) 0% 0% no-repeat padding-box;
            opacity: 0.2;
        }

        >* {
            position: relative;
        }

        .visual-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background: transparent linear-gradient(1deg, #3182F6 0%, #3182F680 100%) 0% 0% no-repeat padding-box;
            opacity: 0.2;
        }

        .visual-logo {
            padding: 24px;

            >img {
                width: 112px;
            }
        }

        .visual-title {}

        .visual-text {}

        .visual-img {
            text-align: center;
            margin-top: -24px;

            >img {
                width: 360px;
            }

            @include screen-xxs {
                margin-top: -4px;

                >img {
                    width: 312px;

                }
            }
        }
    }

    .intro-card-wrapper {
        @include lv-layout-1;
    }

    .intro-card {
        display: block;
        padding: 16px 0;
        box-shadow: 0 5px 20px rgba(46, 46, 46, .20);
        border-radius: 10px;

        .item-info {
            .el {
                position: relative;

                &:nth-child(1) {
                    flex: 1.35;
                }

                &:nth-child(2) {
                    flex: 1.4;
                }

                &:nth-child(3) {
                    flex: 1;
                }

                &:not(:first-child) {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $line-base;
                    }
                }
            }
        }
    }

    .advantage-list-wrapper {
        @include lv-layout-1;
    }

    .advantage-list {
        .advantage-item {
            .el {
                &:nth-child(1) {
                    flex: 1;
                }

                &:nth-child(2) {
                    flex: 3.5;
                    padding-left: 10px;
                }
            }

            .item-text {
                .title {
                    position: relative;
                    display: inline-block;

                    &:before {
                        z-index: -1;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 10px;
                        padding-right: 2px;
                        background-color: #3FCFE099;
                    }
                }
            }
        }
    }

    .protect-wrapper {
        @include lv-layout-1;

        .project-title {
            // margin-top: 14px;
        }

        .protect-card {
            position: relative;
            display: block;
            padding: 32px;
            box-shadow: 0 5px 20px rgba(46, 46, 46, .20);
            border-radius: 10px;

            @include screen-xxs {
                padding: 24px;
            }

            .item-title {
                position: absolute;
                text-align: center;
                width: 100%;
                left: 0;
                top: 0;
                transform: translateY(-50%);

                .in {
                    display: inline-block;
                    padding: 3px 20px;
                    border-radius: 20px;
                    background-color: #3FCFE0;
                    color: #ffffff;
                }
            }

            .item-text {
                .check {
                    background: url(https://nurifunding.co.kr/img/livemate/intro/icon_check.png) no-repeat left center;
                    background-size: 16px 16px;
                    padding-left: 28px;
                }
            }

            .item-info {
                .el {
                    position: relative;

                    &:nth-child(1) {
                        flex: 1.35;
                    }

                    &:nth-child(2) {
                        flex: 1.4;
                    }

                    &:nth-child(3) {
                        flex: 1;
                    }

                    &:not(:first-child) {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 1px;
                            height: 100%;
                            background-color: $line-base;
                        }
                    }
                }
            }
        }
    }

    .definition-wrapper {
        @include lv-layout-1;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.verify-content {
    .body-title {
        @include lv-layout-p-1;
        margin-top: 24px;

        @include screen-xxs {
            @include lv-text-custom(19px, 28px, -0.2px);
        }
    }

    .body-subtitle {
        @include lv-layout-p-1;
    }


    .agree-form-list {
        @include lv-layout-m-1;
        margin-top: 36px;
        border: 1px solid #C3C3C3;
        border-radius: 5px;

        .title {
            padding: 14px 24px;
            border-bottom: 1px solid #eee;
        }

        .text {
            padding: 14px 24px 8px;
        }

        .form-group {
            padding-bottom: 16px;
        }
    }

    $text-mt: 100px;

    .verify-form-list {
        @include lv-layout-m-1;

        .form-group-wrapper {
            .space {
                // padding: 10px 3px;
                position: relative;
                top: -3px;
                padding: 0px 5px;
                // margin: 0 5px;
            }

            &.resident-number {
                .front-number {
                    flex: 2;

                    @include screen-xxs {
                        > :first-child {
                            flex: 1.2 !important;
                        }

                        > :nth-child(2) {
                            flex: 1 !important;
                        }
                    }
                }

                .back-number {
                    flex: 1.3;

                }

                // .space {
                //     flex: 1;
                // }
            }

            .bank-account {
                flex: 1;
            }

            .bank-account-number {
                flex: 3.2;

                .copy-btn {
                    width: 56px;
                }
            }
        }

        &.mt-type-1 {
            .text {
                margin-top: 100px;
            }
        }

        &.mt-type-2 {
            .text {
                margin-top: 65px;
            }
        }

        &.mt-type-3 {
            .text {
                margin-top: 40px;
            }
        }
    }

    .subtext-wrapper {
        @include lv-layout-p-1;

        .dot {
            position: relative;
            padding-left: 12px;

            &:before {
                content: '·';
                display: inline-block;
                position: absolute;
                left: 3px;
            }
        }
    }
}

.product-list-content {
    position: relative;
    /*버튼부분*/
    .product-list-btn-intro{
        position: absolute;
        top: 36px;
        right: 25px;
        &>img{
            width: 25px;
        }
    }
    .page-body {
        padding: 0;
    }

    .body-title {
        // padding: 0;
    }

    .product-list-wrapper {
        box-sizing: border-box;
        margin-top: 40px;
        padding-top: 26px;
        padding-bottom: 26px;
        background-color: $bg-1;

        .product-list-notice{
            color: #828282;
            font-size: 15px;
            letter-spacing: -0.2px;
            margin-bottom: 24px;
            .span-dot{
                width: 20px;
                display: inline-block;
                margin-right: -4px;
            }
        }
    }

    .product-list-min-height{
        min-height: calc(100vh - 206px);
    }

    .product-list {
        .product-item {
            background-color: #fff;

            >a {
                display: block;
                padding: 24px 28px;
                box-shadow: 0 5px 20px rgba(46, 46, 46, .26);
                border-radius: 10px;

                @include screen-xxs {
                    padding: 16px 20px;
                }
            }


            &:not(:first-child) {
                margin-top: 16px;
            }

            [class^=item] {
                position: relative;

                &:not(:first-child) {
                    margin-top: 8px;
                }
            }

            .item-title {
                overflow: hidden;
                white-space: nowrap;
                // text-overflow: ellipsis;
            }

            .item-text {
                >*:first-child {
                    .text-blue {
                        margin-right: 8px;
                    }
                }
            }

            .item-period {
                .badge-period {
                    margin-right: 10px;
                    padding-left: 5px;
                    padding-right: 5px;
                    min-width: 56px;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.product-detail-content {
    .page-body {
        padding: 0;
    }

    .product-intro {
        // .item-thumbnail{
        //     width: 100%;
        //     img{
        //         width: 100%;
        //     }
        // }
        padding-top: 26px;
        .intro-sub-title{
            margin-bottom: 14px;
            .period-state{
                margin-right: 8px;
            }
        }
        .product-item-title{
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.2px;
        }
        
        .item-progress {
            position: relative;
            margin-top: 55px;
            .progressbar {
                width: 100%;
                height: 16px;
                background-color: $line-base;
                border-radius: 18px;
            }

            .percentbar {
                position: relative;
                height: 16px;
                background-color: $primary-color-blue;
                border-radius: 18px;

                .percent-text {
                    position: absolute;
                    right: -22px;
                    top: -40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 26px;
                    border-radius: 2px;
                    background-color: #000;
                    color: #ffffff;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -15px;
                        border: 10px solid transparent;
                        border-top-color: #000;
                    }
                }
            }

        }

        .item-info {
            padding: 8px 4px;
            border-top: 1px solid $line-base;
            border-bottom: 1px solid $line-base;

            .el {
                position: relative;
                flex: 1;

                &:nth-child(1) {
                    flex: 1.5;
                }

                &:nth-child(2) {
                    flex: 1.4;
                }

                &:nth-child(3) {
                    flex: 1;
                }

                &:nth-child(4) {
                    flex: 2.2;
                }

                &:not(:first-child) {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $line-base;
                    }
                }
            }
        }
    }

    .invest-point-wrapper {
        padding-top: 32px;
        margin-top: 24px;
        .point-list-wrapper {
            
        }

        .point-list {
            padding-bottom: 25px;

            &.slick-dotted.slick-slider {
                margin-bottom: 25px;
            }

            .slick-dots {
                // bottom: -30px;
                bottom: 0px;
            }

            .slick-dots li {
                width: 8px;
                height: 8px;
                margin: 0 4px;
            }

            .slick-dots li button {
                width: 100%;
                height: 100%;
                padding: 0;
            }

            .slick-dots li button:before {
                opacity: 1;
                border: 0;
                background-color: #c3c3c3;
            }

            .slick-dots li.slick-active button:before {
                background-color: #3FCFE0;
            }

            .point-item {
                position: relative;
                padding: 0 8px;
                box-sizing: border-box;

                .in {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 120px;
                    border: 1px solid $line-input;
                    border-radius: 6px;
                    background-color: #fff;
                    box-sizing: border-box;
                }
            }
        }

        .expect-wrapper {
            word-break: keep-all;
        }
    }

    .invest-highlight-wrapper {
        .highlight-text-list {
            i.dot {
                font-size: 30px;
                margin-right: 5px;
            }

            // .dot {
            //     position: relative;
            //     padding-left: 12px;

            //     &:before {
            //         content: '';
            //         width: 4px;
            //         height: 4px;
            //         border-radius: 50%;
            //         background-color: #000;
            //         position: absolute;
            //         top: 10px;
            //         left: 0;
            //     }
            // }
        }
    }

    .safety-wrapper {
        .safety-chart {

            .el {
                position: relative;

                &:nth-child(1) {
                    width: 120px;
                    height: 120px;

                    @include screen-xxs {
                        width: 110px;
                        height: 110px;
                    }
                }

                &:nth-child(2) {
                    flex: 1;
                }
            }

            .pie-chart {
                position: relative;
                width: 100%;
                height: 100%;
                // background: conic-gradient(#3fcfe1 0% 25%, #fe8f01 25% 56%, #c7c7c7 56% 100%);
                border-radius: 50%;
                box-sizing: border-box;

                .center {
                    position: absolute;
                    width: calc(100% - 50px);
                    height: calc(100% - 50px);
                    background: #fff;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .chart-info {
                padding-left: 20px;

                @include screen-xxs {
                    padding-left: 10px;
                }

                .dot {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 3px;

                    &.ago {
                        background-color: #3fcfe1;
                    }

                    &.loan {
                        background-color: #fe8f01;
                    }

                    &.rest {
                        background-color: #c7c7c7;
                    }
                }
            }

        }

        .safety-text-list {
            .text-item {
                .el {
                    &:first-child {
                        width: 50px;
                    }
                }

            }

            // .text-item {
            //     i {
            //         margin-right: 8px;
            //     }

            //     i+.el {
            //         flex: 1;
            //     }
            // }
        }
    }

    .evaluation-wrapper {
        .evaluation-chart {
            .grade {}

            .grade .g-th {
                // margin: 30px 0 15px;
                margin-bottom: 15px;
                font-size: 22px;
                font-family: "Arial", "Nanum Gothic", sans-serif;
                font-weight: 600;
                letter-spacing: 0;
            }

            .grade .g-chart {
                position: relative;
                width: 100%;
                height: 8px;
                background: #398fe1;
                background: linear-gradient(to right, #398fe1 0%, #3ac1e3 34%, #34ba89 69%, #bed13f 100%);
            }

            .grade #g-chart-dot {
                position: absolute;
                left: 0;
                top: -8px;
                display: block;
                width: 22px;
                height: 22px;
                border: 4px solid #f45454;
                background: #fff;
                border-radius: 50%;
                box-sizing: border-box;
            }

            .grade #g-chart-dot.n1 {
                left: 12.5%;
                margin-left: -11px;
            }

            .grade #g-chart-dot.n2 {
                left: 37.5%;
                margin-left: -9px;
            }

            .grade #g-chart-dot.n3 {
                left: 62.5%;
                margin-left: -8px;
            }

            .grade #g-chart-dot.n4 {
                left: 87.5%;
                margin-left: -8px;
            }

            .grade .g-label {
                position: relative;
                height: 30px;
                font-size: 12px;
                font-weight: 300;
            }

            .grade .g-label {
                color: #a0a0a0;
                margin-top: 15px;
                margin-bottom: 20px;
            }

            .grade .g-label span {
                position: absolute;
                display: inline-block;
                line-height: 1.2em;
            }

            .grade .g-label span.nth-1 {
                left: 0;
            }

            .grade .g-label span.nth-2 {
                left: 25%;
            }

            .grade .g-label span.nth-3 {
                left: 50%;
            }

            .grade .g-label span.nth-4 {
                left: 75%;
            }

            .grade .g-label span.nth-2:before,
            .grade .g-label span.nth-3:before,
            .grade .g-label span.nth-4:before {
                content: "";
                position: absolute;
                display: block;
                top: -23px;
                left: 0px;
                width: 2px;
                height: 8px;
                background: #fff;
            }
        }
    }

    .guidance-invest-wrapper {

        .guidance-invest-tbl {
            width: 100%;
            border-top: 1px solid $line-input;

            tr {
                border-bottom: 1px solid $line-input;
            }

            th,
            td {
                padding-left: 16px;
                padding-top: 5px;
                padding-bottom: 5px;
                vertical-align: middle;
            }

            th {
                background-color: $bg-1;
            }
        }
    }
    
    .guidance-title{
        padding: 22px 0;
    }

    .mustread-wrapper {
        .mustread-text-list {
            .dot {
                margin-right: 5px;
            }
        }
    }

    .offer-wrapper {
        padding-top: 16px;
        padding-bottom: 20px;
        background-color: $bg-1;
    }
}

.invest-sms-content {
    .page-body {
        @include lv-layout-m-1;
        $mt: 24px;

        .body-text {
            margin-top: $mt;
        }

        .safety-picture {
            margin-top: $mt;
            text-align: center;
        }

        .safety-number {
            margin-top: $mt;
        }
    }
}

.invest-product-content {

    .product-card {
        display: block;
        padding: 24px 28px;
        box-shadow: 0 5px 20px rgba(46, 46, 46, .12);
        border-radius: 10px;

        @include screen-xxs {
            padding: 16px 20px;
        }


        &:not(:first-child) {
            margin-top: 16px;
        }

        [class^=item] {
            position: relative;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }

        .item-info {
            .el {
                position: relative;

                &:nth-child(1) {
                    flex: 1.5;
                }

                &:nth-child(2) {
                    flex: 1.4;
                }

                &:nth-child(3) {
                    flex: 1;
                }

                &:not(:first-child) {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $line-base;
                    }
                }
            }
        }
    }

    .deposit-wrapper {
        @include lv-layout-p-1;
    }

    .invest-price-wrapper {
        @include lv-layout-p-1;

        .btn-area {
            .price-btn {
                height: 34px;
                border-radius: 17px;
            }

            .space {
                width: 4px;
            }
        }
    }

    .subtext-wrapper {
        @include lv-layout-p-1;

        .dot {
            position: relative;
            padding-left: 12px;

            &:before {
                content: '·';
                display: inline-block;
                position: absolute;
                left: 3px;
            }
        }
    }
}

.invest-notice-content {
    .body-title {
        @include lv-layout-p-1;
    }

    .notice-card {
        display: block;
        padding: 12px 16px;
        // box-shadow: 0 5px 20px rgba(46, 46, 46, .12);
        // border-radius: 10px;
        height: 176px;
        overflow: auto;
        box-sizing: border-box;
        background-color: $bg-1;

    }

    .notice-agree-wrapper {
        @include lv-layout-p-1;
    }
}

/*scf-이미지 버튼*/
.scf-wrapper{
    margin-top: 32px;   
}

/*scf-이미지 제어*/
.scf-img{
    padding: 20px 48px;
    text-align: center;
}

.icon-system-img{
    width: 16px;
    height: 16px;
}

.advantage-item{
    .item-picture{
        &>img{
            width: 70px;   
        }
    }
}