@@include('../inc/_top.html', { "pageName": "main" })

<main id="container" class="container" role="main">
    <!--변경내용 메인슬라이드-->
    <section class="sec visual" id="visual">
        <h1 class="sr-only">누리펀딩 버킷리스트 누리펀딩 이자면 가능하다! 펀딩 버킷리스트를 만들어보세요</h1>
        <div class="main-box swiper-container">
            <ul class="swiper-wrapper" id="main-slider">
                <li class="swiper-slide slide-1 bg-1">
                    <figure class="picture group-f">
                        <img src="https://nurifunding.co.kr/img/renew/main/m_bnr_01.png" alt="대출도 투자도 모두 다 누리펀딩" class="img show-mdlg pc-img">
                        <img src="https://nurifunding.co.kr/img/renew/m/main/m_bnr_01.png" alt="대출도 투자도 모두 다 누리펀딩" class="img show-smxs m-img">
                    </figure>
                </li>
                <li class="swiper-slide slide-2 bg-1">
                    <figure class="picture group-f">
                        <img src="https://nurifunding.co.kr/img/renew/main/m_bnr_02.png" alt="누리펀딩버킷리스트" class="img show-mdlg pc-img">
                        <img src="https://nurifunding.co.kr/img/renew/m/main/m_bnr_02.png" alt="누리펀딩버킷리스트" class="img show-smxs m-img">
                    </figure>
                </li>
                <!-- <li class="swiper-slide slide-3 bg-1"> <a href="https://www.nurifunding.co.kr/notice/view.php?var=EUw=&page=1"> <figure class="picture group-f"> <img src="https://nurifunding.co.kr/img/renew/main/m_bnr_03.png" alt="누리펀딩이용후기이벤트" class="img show-mdlg"> <img src="https://nurifunding.co.kr/img/renew/m/main/m_bnr_03.png" alt="누리펀딩이용후기이벤트" class="img show-smxs"> </figure> </a> </li> -->
            </ul>
            <div class="group abs show-mdlg">
                <ul class="certi-list">
                    <li><img src="https://nurifunding.co.kr/img/renew/main/m_certify.png" alt=""></li>
                    <li><img src="https://nurifunding.co.kr/img/renew/main/m_certify_01.png" alt=""></li>
                    <li><img src="https://nurifunding.co.kr/img/renew/main/m_certify_02.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="quick-bar">
            <div class="group-f inner">
                <div class="box box-1">
                    <a href="javascript:;" class="fst hidden-smxs" role="button">
                        <span class="sr-only">처음방문자안내</span></a>
                    <a href="#this" class="fst-guide hidden-mdlg" data-toggle="modal" data-target="modal-fstvisit" role="button">
                        <p class="p-1">처음 방문<br>하셨나요?</p>
                        <p class="p-2">성공 투자를 위한<br>첫걸음</p>
                    </a>
                </div>
                <div class="box box-2">
                    <h2 class="hidden-smxs">바로가기</h2>
                    <ul class="list">
                        <li>
                            <a href="https://www.nurifunding.co.kr/member/myinvest.php">
                                <figure>
                                    <img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_01.png" alt="퀵메뉴01">
                                    <figcaption>
                                        <span class="hidden-xxs">나의
                                        </span>투자현황</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.nurifunding.co.kr/mydeposit/">
                                <figure>
                                    <img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_02.png" alt="퀵메뉴02">
                                    <figcaption>계좌정보</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.nurifunding.co.kr/member/auto.php">
                                <figure>
                                    <img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_03.png" alt="퀵메뉴03">
                                    <figcaption>자동투자
                                        <span class="hidden-xxs">설정</span></figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <figure>
                                    <img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_04.png" alt="퀵메뉴04">
                                    <figcaption>이용안내</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box box-3 hidden-smxs">
                    <h2>새소식
                        <a href="https://www.nurifunding.co.kr/notice/" class="more-btn"><img src="https://nurifunding.co.kr/img/renew/main/m_btn_more.png" alt="더보기"></a>
                    </h2>
                    <ul class="list">
                        <li class="cf">
                            <a href="https://www.nurifunding.co.kr/miripay/" class="tit">[공지] 누리펀딩, 선정산 서비스 '미리페이'출시</a>
                            <span class="create-at">2019.05.20</span></li>
                        <li class="cf">
                            <a href="https://www.nurifunding.co.kr/miripay/" class="tit">[공지] 누리펀딩, 선정산 서비스 '미리페이'출시</a>
                            <span class="create-at">2019.05.20</span></li>
                        <li class="cf">
                            <a href="https://www.nurifunding.co.kr/miripay/" class="tit">[공지] 누리펀딩, 선정산 서비스 '미리페이'출시</a>
                            <span class="create-at">2019.05.20</span></li>
                    </ul>
                </div>
                <div class="box box-3 hidden-mdlg">
                    <span class="tt">공지</span>
                    <div class="t">
                        <div class="swiper-container quicknotice-container" id="quicknoticeContainer">
                            <div class="swiper-wrapper quicknotice-wrapper">
                                <div class="swiper-slide item">누리펀딩, 선정산 서비스 '미리페이' 출시</div>
                                <div class="swiper-slide item">누리펀딩, 선정산 서비스 '미리페이' 출시 2</div>
                                <div class="swiper-slide item">누리펀딩, 선정산 서비스 '미리페이' 출시 3</div>
                            </div>
                        </div>

                    </div>

                    <a href="https://www.nurifunding.co.kr/notice/" class="more-btn"></a>
                </div>
                <div class="box-1-2 hidden-smxs">
                    <div class="incell">
                        <img src="https://nurifunding.co.kr/img/renew/main/bnr_startguide.jpg" alt="성공투자를위한첫걸음 투자시작하기">
                        <a href="https://www.nurifunding.co.kr/invest/" class="btn-start">
                            <span class="sr-only">투자하기</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.quick-bar -->
    </section>
    <!-- /.main -->
    <section class="sec ingProduct type2 invest" id="ingProduct">
        <div class="group inner">
            <h1 class="com-ft">누리펀딩 투자상품
                <a href="https://www.nurifunding.co.kr/invest/" class="more-btn">전체보기
                    <span class="ic-rArrow"></span></a>
            </h1>
            <!--변경내용 id추가-->
            <div class="swiper-container ip-container">
                <div class="swiper-wrapper row ip-wrap">
                    <!-- 상태별 클래스 완료: end -->
                    <div class="swiper-slide ip-outer">
                        <a href="">
                            <div class="ip-box">
                                <div class="thumb-box" style="border-bottom: 1px solid rgb(206, 206, 206); background: url(&quot;https://www.nurifunding.co.kr/img/detail/1572503259.jpg&quot;) center center / cover no-repeat;"></div>
                                <div class="ip-top">
                                    <span class="pdt-no estate">부동산<br>담보</span>
                                    <span class="badge-wrapper">
                                        <span class="badge date-badge"><span class="in">마감입박</span></span>
                                    </span>
                                </div>
                                <h2 class="iph3">247호, 소셜오픈마켓(쿠팡 등 모든 쇼핑몰) 매출채권 선정산(미리페이)</h2>
                                <div class="per-bar">
                                    <p class="bar" style="width: 80.61%"></p>
                                    <span class="per">80.61%</span>
                                </div>
                                <div class="per-money cf">
                                    <p class="pull-left">
                                        현재 모집총액
                                        <span class="c-blue">2,400만원</span>
                                    </p>
                                    <p class="pull-right c-blue"><span class="fw-b">80%</span> 진행중</p>
                                </div>
                                <div class="bg-cover">
                                    <div class="tbl">
                                        <div class="cell">
                                            <span class="in">판매완료</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /.ip-outer -->
                    <div class="swiper-slide ip-outer">
                        <a href="">
                            <div class="ip-box">
                                <div class="thumb-box" style="border-bottom: 1px solid rgb(206, 206, 206); background: url(&quot;https://www.nurifunding.co.kr/img/detail/1572503259.jpg&quot;) center center / cover no-repeat;"></div>
                                <div class="ip-top">
                                    <span class="pdt-no miri">미리<br>페이</span>
                                    <span class="badge-wrapper">
                                        <span class="badge date-badge"><span class="in">D-2</span></span>
                                        <span class="badge auto-badge"><img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_03.png" alt="아이콘" class="icon"> <span class="in">자동투자</span></span>
                                    </span>
                                </div>
                                <h2 class="iph3">247호, 소셜오픈마켓(쿠팡 등 모든 쇼핑몰) 매출채권 선정산(미리페이)</h2>
                                <div class="per-bar">
                                    <p class="bar" style="width: 0"></p>
                                    <span class="per">0%</span>
                                </div>
                                <div class="per-money cf">
                                    <p class="pull-left">
                                        <span class="c-blue">2,400만원</span><span>/3,000원</span>
                                    </p>
                                    <p class="pull-right">30일 남음</p>
                                </div>
                                <div class="bg-cover">
                                    <div class="tbl">
                                        <div class="cell">
                                            <span class="in">판매완료</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /.ip-outer -->
                    <div class="swiper-slide ip-outer end">
                        <a href="">
                            <div class="ip-box">
                                <div class="thumb-box" style="border-bottom: 1px solid rgb(206, 206, 206); background: url(&quot;https://www.nurifunding.co.kr/img/detail/1572503259.jpg&quot;) center center / cover no-repeat;"></div>
                                <div class="ip-top">
                                    <span class="pdt-no miri">미리<br>페이</span>
                                    <span class="badge-wrapper">
                                        <span class="badge date-badge"><span class="in">펀딩예정</span></span>
                                        <span class="badge auto-badge"><img src="https://nurifunding.co.kr/img/renew/main/m_icon_quick_03.png" alt="아이콘" class="icon"> <span class="in">자동투자</span></span>
                                    </span>
                                </div>
                                <h2 class="iph3">247호, 소셜오픈마켓(쿠팡 등 모든 쇼핑몰) 매출채권 선정산(미리페이)</h2>
                                <div class="invest-before">
                                    투자시작 : 00시간 20분 02초 전
                                </div>
                                <div class="bg-cover">
                                    <div class="tbl">
                                        <div class="cell">
                                            <div class="in">
                                                <div class="won">
                                                    <div class="won-in">
                                                        <p class="big">펀딩완료</p>
                                                        <div class="bar"></div>
                                                        <p class="sm">상환중</p>
                                                    </div>
                                                </div>
                                                <p class="text">
                                                    ·대출실행일 : 2019-02-26<br>
                                                    ·대출만기일 : 2020-08-25<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- /.ip-outer -->
                </div>

                <div class="swiper-pagination hidden-mdlg"></div>
            </div>
        </div>
    </section>
    <!-- /.ingProduct -->
    <section class="sec ingProduct type2 nuriword" id="ingProduct-nuriword">
        <div class="group inner">
            <h1 class="com-ft">누리워드 상품
                <a href="https://www.nurifunding.co.kr/invest/nuri.php" class="more-btn">전체보기
                    <span class="ic-rArrow"></span></a>
            </h1>
            <!--변경내용 id추가-->
            <div class="swiper-container ip-container">
                <div class="swiper-wrapper row ip-wrap">
                    <!-- 상태별 클래스 완료: end -->
                    <div class="swiper-slide ip-outer" onclick="window.location.href=''">
                        <div class="ip-box">
                            <div class="thumb-box" style="border-bottom: 1px solid rgb(206, 206, 206); background: url(&quot;https://www.nurifunding.co.kr/img/detail/thum_1577446861.jpg&quot;) center center / cover no-repeat;"></div>
                            <div class="ip-top">
                                <span class="pdt-no nuri">10호</span>
                            </div>
                            <h2 class="iph3">누리워드 10호, [2벌 구매시, 10만원] 덕다운+라쿤털 롱패딩</h2>
                            <div class="per-bar">
                                <p class="bar" style="width: 80.61%"></p>
                                <span class="per">80.61%</span>
                            </div>
                            <div class="per-money cf">
                                <p class="pull-left">
                                    <span class="c-blue">2,400만원</span><span>/3,000원</span>
                                </p>
                                <p class="pull-right">30일 남음</p>
                            </div>
                            <div class="bg-cover">
                                <div class="tbl">
                                    <div class="cell">
                                        <span class="in">판매완료</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.ip-outer -->
                    <div class="swiper-slide ip-outer" onclick="window.location.href=''">
                        <div class="ip-box">
                            <div class="ip-top">
                                <span class="pdt-no nuri">10호</span>
                            </div>
                            <div class="thumb-box" style="border-bottom: 1px solid rgb(206, 206, 206); background: url(&quot;https://www.nurifunding.co.kr/img/detail/thum_1577446861.jpg&quot;) center center / cover no-repeat;"></div>
                            <h2 class="iph3">누리워드 10호, [2벌 구매시, 10만원] 덕다운+라쿤털 롱패딩</h2>
                            <div class="per-bar">
                                <p class="bar" style="width: 0"></p>
                                <span class="per">0%</span>
                            </div>
                            <div class="per-money cf">
                                <p class="pull-left">
                                    <span class="c-blue">2,400만원</span><span>/3,000원</span>
                                </p>
                                <p class="pull-right">30일 남음</p>
                            </div>
                            <div class="bg-cover">
                                <div class="tbl">
                                    <div class="cell">
                                        <span class="in">판매완료</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.ip-outer -->
                    <div class="swiper-slide ip-outer end" onclick="window.location.href=''">
                        <div class="ip-box">
                            <div class="ip-top">
                                <span class="pdt-no nuri">10호</span>
                            </div>
                            <div class="thumb-box" style="border-bottom: 1px solid rgb(206, 206, 206); background: url(&quot;https://www.nurifunding.co.kr/img/detail/thum_1577446861.jpg&quot;) center center / cover no-repeat;"></div>
                            <h2 class="iph3">누리워드 10호, [2벌 구매시, 10만원] 덕다운+라쿤털 롱패딩</h2>
                            <div class="per-bar">
                                <p class="bar" style="width: 100%"></p>
                                <span class="per">100%</span>
                            </div>
                            <div class="per-money cf">
                                <p class="pull-left">
                                    <span class="c-blue">2,400만원</span><span>/3,000원</span>
                                </p>
                                <p class="pull-right">30일 남음</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.ip-outer -->
                </div>

                <div class="swiper-pagination hidden-mdlg"></div>
            </div>
        </div>
    </section>
    <!-- /.ingProduct.nuriword -->
    <div class="sec primary-bnr">
        <div class="swiper-container primary-container" id="primaryBnrContainer">
            <div class="swiper-wrapper primary-wrapper">
                <div class="swiper-slide bnr-slide item-1">
                    <a href="https://www.nurifunding.co.kr/miripay/" class="picture">
                        <figure class="group-f">
                            <img src="https://www.nurifunding.co.kr/img/renew/main/bnr_miripay.jpg" alt="미리페이로필요자금긴급지원받자" class="hidden-smxs">
                            <img src="https://www.nurifunding.co.kr/img/renew/m/main/bnr_miripay.jpg" alt="미리페이로필요자금긴급지원받자" class="hidden-mdlg">
                        </figure>
                    </a>
                </div>
                <div class="swiper-slide bnr-slide item-2">
                    <a href="https://www.nurifunding.co.kr/member/auto.php" class="picture">
                        <figure class="group-f">
                            <img src="https://www.nurifunding.co.kr/img/renew/main/bnr_auto.jpg" alt="자동투자설정으로 투자시간을 절약하세요" class="hidden-smxs">
                            <img src="https://www.nurifunding.co.kr/img/renew/m/main/bnr_auto.jpg" alt="자동투자설정으로 투자시간을 절약하세요" class="hidden-mdlg">
                        </figure>
                    </a>
                </div>
                <div class="swiper-slide bnr-slide item-3">
                    <a href="https://www.nurifunding.co.kr/invest/" class="picture">
                        <figure class="group-f">
                            <img src="https://www.nurifunding.co.kr/img/renew/main/bnr_nurisafe.jpg" alt="누리세이프로안전하게투자하세요" class="hidden-smxs">
                            <img src="https://www.nurifunding.co.kr/img/renew/m/main/bnr_nurisafe.jpg" alt="누리세이프로안전하게투자하세요" class="hidden-mdlg">
                        </figure>
                    </a>
                </div>
            </div>
            <div class="bnr-navigation group-f">
                <div class="btn-prev"></div>
                <div class="btn-next"></div>
            </div>
            <div class="bnr-pagination"></div>
        </div>
    </div>
    <!-- /.sec primary-bnr -->
    <section class="sec rate" id="rate">
        <h1 class="sr-only">누적 상황</h1>
        <div class="group inner">
            <div class="row">
                <div class="rr nth-1">
                    <h2 class="r-f">누적 상환액</h2>
                    <p class="r-f2"><span><span class="count">67</span>억
                            <span class="count">7,039</span></span>
                        만원</p>
                </div>
                <div class="rr nth-2">
                    <h2 class="r-f">대출잔액</h2>
                    <p class="r-f2"><span><span class="count">12</span>억
                            <span class="count">4,726</span></span>
                        만원</p>
                </div>
                <div class="rr nth-3">
                    <h2 class="r-f">누적대출 취급액</h2>
                    <p class="r-f2"><span><span class="count">80</span>억
                            <span class="count">1,765</span></span>
                        만원</p>
                </div>
                <div class="rr nth-4">
                    <h2 class="r-f">평균금리</h2>
                    <p class="r-f2">
                        <span class="count">11.08</span>%</p>
                </div>
                <div class="rr nth-5">
                    <h2 class="r-f">
                        연체율
                        <span class="q-w">
                            <span class="q">?
                                <span class="q-t">
                                    약정된 상환이 일부<br>
                                    혹은 전부 지연되기<br>
                                    시작해 30일 이상, 90일<br>
                                    미만 경과한 대출<br><br>
                                    연체율 = 연체잔여원금<br>
                                    / 대출잔여금<br>
                                    (P2P금융협회기준)
                                </span>
                            </span>
                        </span>
                    </h2>
                    <p class="r-f2">
                        <span id="n5">0</span>%</p>
                </div>
            </div>
            <!-- <div class="row-cmt">※ 2018년 6월 현재 기준</div> -->
        </div>
    </section>
    <!-- /.rate -->
    <section class="sec easy" id="easy">
        <div class="group inner">
            <div class="split split-1">
                <h1 class="com-ft">웹 보안 + 금융 노하우 + 법률 자문<br>P2P 금융의 최고의 인력</h1>
                <p class="p-1">누리펀딩의 30년의 금융 전문 노하우와<br class="hidden-mdlg">
                    웹보안 기술력으로<br>안전한 정보관리와 안심거래가 가능합니다.</p>
                <div class="row-btn hidden-smxs">
                    <a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a>
                </div>
            </div>

            <div class="split split-2">
                <div class="box nth-1">
                    <h2>
                        <strong>IT전문기업의</strong>
                        개인 정보 유출 방지</h2>
                </div>
                <div class="box nth-2">
                    <h2>
                        <strong>금융 전문가의</strong>
                        여신심사 금융 노하우</h2>
                </div>
                <div class="box nth-3">
                    <h2>
                        <strong>변호사</strong>
                        계약서 법률 검토</h2>
                </div>
            </div>

            <div class="row-btn hidden-mdlg">
                <a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a>
            </div>
        </div>
    </section>
    <!-- /.easy -->
    <section class="sec benefit">
        <div class="group inner">
            <div class="split split-1">
                <h1 class="com-ft">고금리 혜택과 리스크 관리</h1>
                <p class="p-1">
                    P2P 투자는 수익률이 먼저? NO!<br>
                    누리펀딩은 고금리 혜택은 물론<br>
                    원금을 지키는 리스크 관리도 소중하게 생각합니다.
                </p>
                <div class="row-btn hidden-smxs">
                    <a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a>
                </div>
            </div>
            <div class="split split-2">
                <!--차트-->
                <div class="cf per-chart" id="per-chart">
                    <div class="box nth-1">
                        <p class="p-per">
                            <span id="p-per1">1.65</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">예금 금리</p>
                    </div>
                    <div class="box nth-2">
                        <p class="p-per">
                            <span id="p-per2">1.3</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">국고채 (3년)</p>
                    </div>
                    <div class="box nth-3">
                        <p class="p-per">
                            <span id="p-per3">1.89</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">회사채 (3년)</p>
                    </div>
                    <div class="box nth-4 box-nuri">
                        <p class="p-per">
                            <span id="p-per5">10.0</span>%</p>
                        <p class="p-chart"></p>
                        <p class="p-tit">누리펀딩</p>
                    </div>
                    <div class="tooltip">최소 2배 이상의 안정적인 수익률</div>
                </div>

                <div class="row-cmt">
                    ※ 전국은행연합회, 증권정보, 2020년 2월 11일, 현재)
                </div>

                <div class="row-btn hidden-mdlg">
                    <a href="https://www.nurifunding.co.kr/service/" class="btn-detail">자세히 보기</a>
                </div>
            </div>

        </div>
    </section>
    <!-- /.benefit -->

    <!-- <section class="sec bn-account"> <h1 class="sr-only">누리펀딩 투자의 첫 걸음! 투자를 위한 계좌를 등록하세요.</h1> <div class="group"> <a href="https://www.nurifunding.co.kr/member/account.php"> <div class="img-account hidden-mdlg" role="img"> <p class="sr-only">누리펀딩 투자의 첫 걸은! 투자를 위한 계좌를 등록하세요.</p> </div> <img src="https://nurifunding.co.kr/img/renew/main/m_bnr_s_01.jpg" alt="계좌등록하기" class="hidden-smxs"> </a> </div> </section> -->
    <!-- /.bn-account -->

    <section class="sec faq" id="faq">
        <div class="group inner">
            <h1 class="com-ft">자주하는 질문</h1>
            <div class="row fq-wrap">
                <div class="fq-outer">
                    <div class="fq-box br4">
                        <h2 class="fq-q">
                            <span class="arr-icon q-icon"></span>누리펀딩은 어떻게 만들어졌나요?</h2>
                        <p class="fq-a">
                            <span class="arr-icon a-icon"></span>30년 경력 탄탄한 금융 전문가와 토탈 IT 서비스 전문 기업으로10년 동안 온라인 사이트의 보안을 책임져온 ㈜이비즈네트웍스가 누리펀딩에서 만났습니다.</p>
                    </div>
                </div>

                <div class="fq-outer">
                    <div class="fq-box br4">
                        <h2 class="fq-q">
                            <span class="arr-icon q-icon"></span>대출 신청 자격 요건은 무엇인가요?</h2>
                        <p class="fq-a">
                            <span class="arr-icon a-icon"></span>기업과 개인 신용등급이 낮은 경우에도 대출취급이 가능하나 담보물 가치에 따라 대출금액이 제한 됩니다.</p>
                    </div>
                </div>
                <div class="fq-outer">
                    <div class="fq-box br4">
                        <h2 class="fq-q">
                            <span class="arr-icon q-icon"></span>누리여신평가 등급이 무엇인가요?</h2>
                        <p class="fq-a">
                            <span class="arr-icon a-icon"></span>누리펀딩이 개발한 알고리즘을 바탕으로 채무자의 신용등급과 담보 가치를 결합한 여신평가 등급입니다.</p>
                    </div>
                </div>
            </div>

            <div class="row row-btn">
                <a href="https://www.nurifunding.co.kr/faq/" class="btn-more">질문 전체 보러가기</a>
            </div>
        </div>
    </section>
    <!-- /.faq -->

    <div class="sec firststep-bnr">
        <div class="firststep-wrapper">
            <a href="https://www.nurifunding.co.kr/invest/" class="picture">
                <figure class="group-f">
                    <img src="https://nurifunding.co.kr/img/renew/main/bnr_firststep.jpg" alt="누리펀딩투자의첫걸음" class="hidden-smxs">
                    <img src="https://nurifunding.co.kr/img/renew/m/main/bnr_firststep.jpg" alt="누리펀딩투자의첫걸음" class="hidden-mdlg">
                </figure>
                <div class="firststep-text group-f">
                    <h1 class="title">누리펀딩 투자의 첫 걸음!</h1>
                    <p class="st">투자를 위한 계좌를 등록하세요.</p>
                    <div class="btn invest-btn">투자 시작하기</div>
                </div>
            </a>
        </div>
    </div>

    <!-- 190415 -->
    <!-- 메인, 내정보, 투자하기 페이지 -->
    <!-- <div class="side-banner"> <a href="https://www.nurifunding.co.kr/member/auto.php"><img src="https://www.nurifunding.co.kr/img/banner/banner_auto1_pc.png" alt="선정산 상품 자동투자 기능 오픈!" /></a> </div> -->
    <!-- // -->

    <!-- <div class="side-banner"> <a href="#none" class="hidden-mdlg"><img src="https://nurifunding.co.kr/img/side_banner_01.png" alt="카카오톡 플러스 친구" /></a> <a href="#none"><img src="https://nurifunding.co.kr/img/side_banner_02.jpg" alt="가상계죄개설시1만원지급" /></a> </div> <script> $(function() { var scrNum = 300 $(window).scroll(function() { var scr = $(window).scrollTop(); // console.log(scr + ", " + relativeScr); if (scr > scrNum) { $(".side-banner").fadeOut(); } else { $(".side-banner").fadeIn(); } }); }); </script> -->
</main>
<!-- /.container -->

<div class="modal-layer" id="modal-layer">
    @@include('../inc/modal/_main.html')
</div>
<!-- /#modal-layer -->

<div class="popup-layer" id="popup-layer">
    @@include('../inc/popup/_review.html')
    <script>
        $(".popup-layer").on("mousewheel", function () {
            return false;
        });
    </script>
</div>

@@include('../inc/_bottom.html')