@import '../../parts/variables';
@import '../../parts/mixins';

.terms-modal-wrapper {
    .lv-modal-body {
        @include lv-layout-1;
    }

    .close-btn-wrapper {
        padding: 16px;
    }
}

.deposit-modal-wrapper {
    .lv-modal-container {
        border-radius: 10px;
        // width: 100%;
        // padding: 32px 24px 24px;

        .lv-modal-header {
            padding-top: 32px;
        }

        .lv-modal-body {
            padding: 0 24px;
        }

        .lv-modal-footer {
            padding: 24px 0;
        }

        .close-btn-wrapper {
            position: absolute;
            top: 12px;
            right: 12px;
            padding: 0;
            // padding: 12px 0;
            // padding: 12px;
            // padding-bottom: 0;
        }
    }
}