// $vertical-scroll: 17px;
$vertical-scroll: 20px;
$screen-xxs-width: 320px;
$screen-xs-width: 576px;
$screen-sm-in: 540px;
$screen-sm-width: 768px;
$screen-md-in: 970px;
$screen-md-width: 992px;
$screen-lg-pd: 20px;
$screen-lg-width: 1100px;

$hd-ht-m: 55px;
$hd-ht-pc: 90px;

$font-stack: ("Noto Sans KR", "Apple SD Gothic Neo", sans-serif);
$font-apSDGothicNeo: ("Apple SD Gothic Neo", Sans-serif);
$font-nnGothic: ("Nanum Gothic", Sans-serif);
$font-nnSquareR: ("NanumSquareRound", Sans-serif);
$font-ntss: ("Noto Sans KR", Sans-serif);
$font-dt: (Dotum, Sans-serif);
$font-jfss: ('Josefin Sans', sans-serif);

$font-color: #000;
$primary-color: #3182f6;

$page-header-ht: 56px;
$page-float-btn-ht: 96px;

$primary-color-blue: #3182f6;
$primary-color-green: #3fcfe0;
$primary-color-deepdark: #ff732e;

$btn-base: #000;
$btn-primary: #086cfd;
$btn-nagative: #717171;
$btn-disabled: #c3c3c3;
$chk-disabled: #ddd;

$line-base: #eee;
$line-input: #c3c3c3;
$line-input-active: #000;

$bg-1: #f6f6f6;
$bg-2: #fff;

$text-base: #000;
$text-notemphasis: #717171;
$text-support: #8e8e8e;
$text-disabled: #c3c3c3;
$text-green: #009bad;
$text-blue: #086cfd;
$text-error: #ee0202;

$text-engraved-base: #000;
$text-engraved-nagative: #717171;
$text-engraved-disabled: #c3c3c3;
$text-engraved-blue: #086cfd;

$c-positive: #3082f6;
$c-nagative: #ff3d3d;

// #3FCFE0
$graph-color-1: #3fcfe1;
$graph-color-2: #fe8f01;
$graph-color-3: #ffdd02;
$graph-color-4: #a4d0dd;
$graph-color-5: #feacba;
$graph-color-6: #8dd194;
$graph-color-7: #cea0db;
$graph-color-8: #ffbe7e;
$graph-color-9: #a4ddc6;
$graph-color-10: #c7c7c7;

$layout-p-x-1: 16px;
$layout-p-x-2: 24px;
$layout-p-x-3: 32px;

// $layout-p-t: 56px;
// $layout-p-b: 32px;

// ----------------- //

$btn-xs-pd: 1px 15px;
$btn-xs-fz: 12px;
$btn-xs-lh: 1.5;
$btn-sm-pd: 5px 10px;
$btn-sm-fz: 12px;
$btn-sm-lh: 1.5;
$btn-md-pd: 6px 12px;
$btn-md-fz: 14px;
$btn-lg-pd: 10px 16px;
$btn-lg-fz: 18px;

// pc
$gnb-hover-color: #5ca904;

// mobile
$gnb-title-bg: #00474f;
$gnb-body-bg: #003237;
$gnb-menu: #008d72;
$gnb-menu-hover: #54a73a;

$fg-page-tit: #f4774d;

$btn-blue: #337ab7;
$btn-blue-dark: #2e6da4;
$btn-green: #5cb85c;
$btn-green-dark: #4cae4c;
$btn-aqua: #5bc0de;
$btn-aqua-dark: #46b8da;
$btn-orange: #f0ad4e;
$btn-orange-dark: #eea236;
$btn-red: #d9534f;
$btn-red-dark: #d43f3a;
$btn-gray: gray;
$btn-black: #2c2c2c;

$fg-gray: #828282;

$c-white: white;
$c-black: black;
$c-green: #74b02f;
$c-yellow: #fff588;
// $c-red: #d52d00;
$c-red: #ef2c06;
$c-red2: #ff5435;
$c-lightbrown: #d35e00;
$c-blue: #2b77d5;
$c-gray-dark: #656565;