<!-- 일반 해더 -->
<header class="header" id="header">
    <div class="gnb">
        <div class="group inner">
            <div class="navbar-header">
                <button type="button" class="nav-tab show-smxs" aria-label="모바일 메뉴 토글버튼" title="모바일 메뉴 토글버튼">
                    <span class="icon-bar b1"></span>
                    <span class="icon-bar b2"></span>
                    <span class="icon-bar b3"></span>
                </button>
                <h2>
                    <a href="./index.html" class="navbar-brand"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고"></a>
                </h2>
                <a href="mypage/mypage_01.html" class="my-tab show-smxs"><img src="https://nurifunding.co.kr/img/renew/common/icon/icon_member.png" alt="마이페이지"></a>
            </div>
            <div class="bg-drop"></div>
            <nav class="navbar-collapse" id="navbar-collapse">
                <h1 class="sr-only">GNB</h1>

                <div class="nc-header hidden-mdlg">
                    <div class="nc-logobar">
                        <a href="./index.html" class="nc-logo"><img src="https://nurifunding.co.kr/img/lnb_logo.png" alt="누리펀딩"></a>
                        <a href="javascript:;" class="cls-btn"><img src="https://nurifunding.co.kr/img/cls_icon.png" alt="닫기"></a>
                    </div>
                    <!-- 190412 -->
                    <!-- 로그인 전 -->
                    <div class="nc-login">
                        <p>지금 바로 로그인하고</p>
                        <p>누리펀딩의 투자서비스를 이용하세요!</p>
                        <p class="nth-3">
                            <a href="login/index.html">로그인</a>
                            <a href="join/join_01.html" class="nth-2">회원가입</a>
                        </p>
                    </div>
                    <!-- 로그인 후 -->
                    <!-- <div class="nc-login"> <p>전형진님 안녕하세요.</p> <p>누리펀딩입니다. <a href="javascript:;" class="lgout">로그아웃 <img class="img-lock" src="https://nurifunding.co.kr/img/icon/ic_lock.png" alt="로그아웃"></a></p> <p class="nth-3"> <a href="">나의투자</a> <a href="">자동투자</a> <a href="">회원정보</a> <a href="">계좌정보</a> </p> </div> -->
                </div>
                <!-- login시 status-login 클래스 추가 -->
                <ul class="menu clearfix status-login">
                    <li class="big">
                        <a href="loan/loan_00.html">대출신청</a>
                        <div class="menu2 big hidden-smxs cf">
                            <div class="menu2big-item item-1">· 대출받기</div>
                            <div class="menu2big-item item-2">
                                <span class="c-1">간편하게 신청하고, 빠르게 받는 누리펀딩 대출!</span><br>
                                개인과 기업에게 필요 자금을 지원해 드리는<br>
                                서비스로 투자자와 대출자 모두가 만족할 수 있는 금융 서비스 입니다.
                            </div>
                            <a href="loan/loan_00.html" class="menu2big-item item-3">
                                <span>바로<br>가기</span></a>
                        </div>
                    </li>
                    <li class="big">
                        <a href="invest/invest_01.html">투자하기</a>
                        <div class="menu2 big hidden-smxs cf">
                            <div class="menu2big-item item-1">· 투자하기</div>
                            <div class="menu2big-item item-2">
                                <span class="c-1">연 10%대의 고금리 혜택을 누리세요!</span><br>
                                NiceCredit을 기반으로 한 자체 신용평가와 전문가가 분석한<br>
                                상품설명서로 투자상품을 쉽게 이해할 수 있습니다.
                            </div>
                            <a href="invest/invest_01.html" class="menu2big-item item-3">
                                <span>바로<br>가기</span></a>
                        </div>
                    </li>
                    <li class="big">
                        <a href="miripay/index.html" class="c-blue">미리페이</a>
                        <div class="menu2 big hidden-smxs cf">
                            <div class="menu2big-item item-1">· 미리페이</div>
                            <div class="menu2big-item item-2">
                                <span class="c-1">보유하신 매출 채권으로 필요자금을 긴급지원 받으세요!</span><br>
                                쿠팡, 티몬, 위메프 등 온라인쇼핑몰과 결제사(PG)의<br>
                                매출채권(지급예정금액)을 담보로 선정산을 미리 받을 수 있습니다.
                            </div>
                            <a href="miripay/index.html" class="menu2big-item item-3">
                                <span>바로<br>가기</span></a>
                        </div>
                    </li>
                    <li class="big">
                        <a href="#none" class="c-blue" onclick="alert('서비스 준비중입니다.')">누리워드</a>
                        <div class="menu2 big hidden-smxs cf">
                            <div class="menu2big-item item-1">· 누리워드</div>
                            <div class="menu2big-item item-2">
                                <span class="c-1">세상을 바꾸는 아이디어에 주목합니다.</span><br>
                                당신의 오랜 꿈과 당신의 열정적인 노력을 응원하는 우리가 있습니다.<br>
                                기부와 리워드를 통해 새로운 프로젝트를 가장 먼저 소개할 수 있습니다.
                            </div>
                            <a href="#none" onclick="alert('서비스 준비중입니다.')" class="menu2big-item item-3">
                                <span>바로<br>가기</span></a>
                        </div>
                    </li>
                    <li class="hidden-smxs hidden-margin"></li>
                    <li>
                        <a href="javascript:;">회사소개/IR</a>
                        <ul class="menu2">
                            <li class="vline-1 hidden-smxs"></li>
                            <li class="vline-2 hidden-smxs"></li>
                            <li>
                                <a href="service/index.html">회사소개</a>
                            </li>
                            <li>
                                <a href="service/index_rep.html">대표이사 소개</a>
                            </li>
                            <li>
                                <a href="service/index_ir.html">기업 IR</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">이용안내</a>
                        <ul class="menu2">
                            <li class="vline-1 hidden-smxs"></li>
                            <li>
                                <a href="">FAQ</a>
                            </li>
                            <li>
                                <a href="">공지사항</a>
                            </li>
                            <li>
                                <a href="">자료실</a>
                            </li>
                        </ul>
                    </li>
                    <!-- 비 로그인 경우 -->
                    <!-- <li class="btn hidden-smxs"><a href="" class="btn-cmm btn-white login">로그인</a></li> <li class="btn hidden-smxs"><a href="" class="btn-cmm btn-blue join">회원가입</a></li> -->
                    <!-- 로그인 경우 -->
                    <li class="myinfo hidden-smxs">
                        <a class="c-blue" href="mypage/mypage_01.html"><img src="https://nurifunding.co.kr/img/renew/common/icon/icon_member_on.png" alt="내정보아이콘" class="icon">내정보</a>
                        <ul class="menu2">
                            <li class="vline-1 hidden-smxs"></li>
                            <li>
                                <a href="myinvest/index.html">나의투자정보</a>
                            </li>
                            <li>
                                <a href="autoinv/">자동투자 설정</a>
                            </li>
                            <li>
                                <a href="">계좌정보</a>
                            </li>
                            <li>
                                <a href="mypage/mypage_01.html">회원정보수정</a>
                            </li>
                            <li>
                                <a href="">로그아웃</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li><a href="autoinv/index.html">자동투자 <span class="ic-new">NEW</span></a></li> -->
                </ul>
                <div class="menu2-bg hidden-smxs" id="menu2Bg">
                    <div class="group inner">
                        <div class="autoinv-box cf" id="autoinvBox">
                            <div class="autoinv-item item-1">
                                <p class="autoinv-tit">
                                    <em>자동투자 설정</em>으로 투자시간을 절약하세요!
                                    <span class="ic-new">NEW</span></p>
                                <p class="autoinv-txt">
                                    신규 선정산 상품이 나올 때마다 설정한 금액이
                                    <em>자동 투자되는</em><br>
                                    <em>맞춤형 간편투자</em>
                                    서비스 '자동투자'로 투자 스트레스에서 벗어나세요!
                                </p>
                            </div>
                            <div class="autoinv-item item-2">
                                <span>자세히 보기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <script></script>
    </div>
    <!-- 홈/나의 투자 페이지: fixed, 상품목록/상품상세/투자하기 페이지: relat 클래스 추가-->
    <div class="topbn hidden-mdlg fixed">
        <a href="https://www.nurifunding.co.kr/member/auto.php" class="bnbar"><img src="https://www.nurifunding.co.kr/img/banner/banner_auto1_m.png" alt="선정산 상품 자동투자기능 오픈" class="bnimg"></a>
    </div>
</header>
<!-- /.header -->