<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <title>누리펀딩</title>
    <link rel="shortcut icon" href="https://nurifunding.co.kr/img/32x32.ico">
    <link rel="canonical" href="www.nurifunding.co.kr">

    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--css 추가-->
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/animate.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/jquery.bxslider.css">

    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/reset.css">

    <!-- <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/override_v2.0.0.css"> <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common_v2.0.0.css"> <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/index_v2.0.0.css"> -->

    <link rel="stylesheet" href="/static/css/common.min.css">
    <link rel="stylesheet" href="/static/css/contents.min.css">

    <!--js 플러그인 관련(css, js) 추가-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

    <script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>

</head>

<body id="@@pageNamePage" class="@@pageName-page">
    <h1 class="skip">누리펀딩</h1>
    <div class="wrap" id="wrap">

        @@include('./_header.html')