<div class="popup popup-review" style="display: none">
    <div class="popup-wrapper">
        <div class="popup-container">
            <div class="popup-body">
                <div class="bn-sec">
                    <h2 class="bn-title">
                        <img src="http://nurifunding.co.kr/img/pop/review/pop_bnr.jpg" alt="누리펀딩 이용후기 이벤트 당첨자 발표">
                    </h2>
                    <p class="sr-only">
                        1등 32인치 TV(1명) 2등 5만원 신세계상품권(2명) 3등 스타벅스 아메리카노(참가자 전원)
                    </p>
                </div>
                <div class="winner-sec">
                    <p class="winner-msg">★ 응모해 주셔서 감사드리며 당첨을 축하드립니다. ★</p>
                    <div class="winner-list-box">
                        <div class="winner-title">
                            <span>당첨자</span></div>
                        <ul class="winner-list">
                            <li>1위 (1명) 32인치 TV -
                                <span class="name">신<span class="ft">＊</span>한</span></li>
                            <li>2취 (2명) 5만원 신세계상품권 -
                                <span class="name">유<span class="ft">＊</span>화, 최<span class="ft">＊</span>연</span></li>
                            <li>3위 (전원) 스타벅스 아메리카노 -
                                <span class="name">참여자 전원</span></li>
                        </ul>
                    </div>
                    <p class="winner-note">
                        이벤트에 참여해 주신 모든 분들께 감사드립니다.<br>
                        앞으로도 누리펀딩에 많은 관심과 이용 부탁드립니다.
                    </p>
                    <p class="winner-link-box">
                        <a href="https://www.nurifunding.co.kr/notice/view.php?var=EUk=&page=1" class="link">자세히 보기
                            <span class="ic-rArrow"></span></a>
                    </p>
                </div>
            </div>
            <div class="popup-footer">
                <a href="#none" onclick="$(this).closest('.popup-layer').hide();">더이상 이 창을 열지 않습니다.</a>
                <a href="#none" onclick="$(this).closest('.popup-layer').hide();" class="clsBtn">창닫기</a>
            </div>
        </div>
    </div>
</div>