@charset "utf-8";

@import '../../parts/variables';
@import '../../parts/mixins';

.lv-group-1 {
    @include lv-layout-1;
}

.lv-group-2 {
    @include lv-layout-2;
}

.wrapper-pd-1 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.page-content {
    // .body-title {
    //     @include lv-layout-p-1;
    // }

    .page-body {
        @include lv-layout-1;
    }
}

.intro-content {

    .page-body {
        padding: 0;
    }

    .intro-visual {
        position: relative;
        // height: 326px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background: transparent linear-gradient(1deg, #3182F6 0%, #3182F680 100%) 0% 0% no-repeat padding-box;
            opacity: 0.2;
        }

        >* {
            position: relative;
        }

        .visual-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300px;
            background: transparent linear-gradient(1deg, #3182F6 0%, #3182F680 100%) 0% 0% no-repeat padding-box;
            opacity: 0.2;
        }

        .visual-logo {
            padding: 24px;

            >img {
                width: 112px;
            }
        }

        .visual-title {}

        .visual-text {}

        .visual-img {
            text-align: center;
            margin-top: -24px;

            >img {
                width: 360px;
            }

            @include screen-xxs {
                margin-top: -4px;

                >img {
                    width: 312px;

                }
            }
        }
    }

    .intro-card-wrapper {
        @include lv-layout-1;
    }

    .intro-card {
        display: block;
        padding: 16px 0;
        box-shadow: 0 5px 20px rgba(46, 46, 46, .20);
        border-radius: 10px;

        .item-info {
            .el {
                position: relative;

                &:nth-child(1) {
                    flex: 1.35;
                }

                &:nth-child(2) {
                    flex: 1.4;
                }

                &:nth-child(3) {
                    flex: 1;
                }

                &:not(:first-child) {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $line-base;
                    }
                }
            }
        }
    }

    .advantage-list-wrapper {
        @include lv-layout-1;
    }

    .advantage-list {
        .advantage-item {
            .el {
                &:nth-child(1) {
                    flex: 1;
                }

                &:nth-child(2) {
                    flex: 3.5;
                    padding-left: 10px;
                }
            }

            .item-text {
                .title {
                    position: relative;
                    display: inline-block;

                    &:before {
                        z-index: -1;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 10px;
                        padding-right: 2px;
                        background-color: #3FCFE099;
                    }
                }
            }
        }
    }

    .protect-wrapper {
        @include lv-layout-1;

        .project-title {
            // margin-top: 14px;
        }

        .protect-card {
            position: relative;
            display: block;
            padding: 32px;
            box-shadow: 0 5px 20px rgba(46, 46, 46, .20);
            border-radius: 10px;

            @include screen-xxs {
                padding: 24px;
            }

            .item-title {
                position: absolute;
                text-align: center;
                width: 100%;
                left: 0;
                top: 0;
                transform: translateY(-50%);

                .in {
                    display: inline-block;
                    padding: 3px 20px;
                    border-radius: 20px;
                    background-color: #3FCFE0;
                    color: #ffffff;
                }
            }

            .item-text {
                .check {
                    background: url(https://nurifunding.co.kr/img/livemate/intro/icon_check.svg) no-repeat left center;
                    padding-left: 28px;
                }
            }

            .item-info {
                .el {
                    position: relative;

                    &:nth-child(1) {
                        flex: 1.35;
                    }

                    &:nth-child(2) {
                        flex: 1.4;
                    }

                    &:nth-child(3) {
                        flex: 1;
                    }

                    &:not(:first-child) {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 1px;
                            height: 100%;
                            background-color: $line-base;
                        }
                    }
                }
            }
        }
    }

    .definition-wrapper {
        @include lv-layout-1;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.verify-content {
    .body-title {
        @include lv-layout-p-1;
        margin-top: 24px;

        @include screen-xxs {
            @include lv-text-custom(19px, 28px, -0.2px);
        }
    }

    .body-subtitle {
        @include lv-layout-p-1;
    }


    .agree-form-list {
        @include lv-layout-m-1;
        margin-top: 64px;
        border: 1px solid #C3C3C3;
        border-radius: 5px;

        .title {
            padding: 14px 24px;
            border-bottom: 1px solid #eee;
        }

        .text {
            padding: 14px 24px 8px;
        }

        .form-group {
            padding-bottom: 16px;
        }
    }

    $text-mt: 100px;

    .verify-form-list {
        @include lv-layout-m-1;

        .form-group-wrapper {
            .space {
                // padding: 10px 3px;
                position: relative;
                top: -3px;
                padding: 0px 5px;
                // margin: 0 5px;
            }

            &.resident-number {
                .front-number {
                    flex: 2;

                    @include screen-xxs {
                        > :first-child {
                            flex: 1.2 !important;
                        }

                        > :nth-child(2) {
                            flex: 1 !important;
                        }
                    }
                }

                .back-number {
                    flex: 1.3;

                }

                // .space {
                //     flex: 1;
                // }
            }

            .bank-account {
                flex: 1;
            }

            .bank-account-number {
                flex: 1.7;

                .copy-btn {
                    width: 56px;
                }
            }
        }

        &.mt-type-1 {
            .text {
                margin-top: 100px;
            }
        }

        &.mt-type-2 {
            .text {
                margin-top: 65px;
            }
        }

        &.mt-type-3 {
            .text {
                margin-top: 40px;
            }
        }
    }

    .subtext-wrapper {
        @include lv-layout-p-1;

        .dot {
            position: relative;
            padding-left: 12px;

            &:before {
                content: '·';
                display: inline-block;
                position: absolute;
                left: 3px;
            }
        }
    }
}

.product-list-content {
    .page-body {
        padding: 0;
    }

    .body-title {
        // padding: 0;
    }

    .product-list-wrapper {
        margin-top: 40px;
        padding-top: 26px;
        padding-bottom: 26px;
        background-color: $bg-1;
    }

    .product-list {
        .product-item {
            background-color: #fff;

            >a {
                display: block;
                padding: 24px 28px;
                box-shadow: 0 5px 20px rgba(46, 46, 46, .26);
                border-radius: 10px;

                @include screen-xxs {
                    padding: 16px 20px;
                }
            }


            &:not(:first-child) {
                margin-top: 16px;
            }

            [class^=item] {
                position: relative;

                &:not(:first-child) {
                    margin-top: 8px;
                }
            }

            .item-title {
                overflow: hidden;
                white-space: nowrap;
                // text-overflow: ellipsis;
            }

            .item-text {
                >*:first-child {
                    .text-blue {
                        margin-right: 8px;
                    }
                }
            }

            .item-period {
                .badge-period {
                    margin-right: 10px;
                    padding-left: 5px;
                    padding-right: 5px;
                    min-width: 56px;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.product-detail-content {
    .page-body {
        padding: 0;
    }

    .product-intro {
        .item-progress {
            position: relative;

            .progressbar {
                width: 100%;
                height: 16px;
                background-color: $line-base;
                border-radius: 18px;
            }

            .percentbar {
                height: 16px;
                background-color: $primary-color-blue;
                border-radius: 18px;
            }

        }

        .item-info {
            padding: 8px 4px;
            border-top: 1px solid $line-base;
            border-bottom: 1px solid $line-base;

            .el {
                position: relative;
                flex: 1;

                &:nth-child(1) {
                    flex: 1.5;
                }

                &:nth-child(2) {
                    flex: 1.4;
                }

                &:nth-child(3) {
                    flex: 1;
                }

                &:nth-child(4) {
                    flex: 2.2;
                }

                &:not(:first-child) {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $line-base;
                    }
                }
            }
        }
    }

    .invest-point-wrapper {
        padding-top: 32px;

        .point-list-wrapper {}

        .point-list {
            display: flex;
            align-items: center;
            justify-content: center;

            .point-item {
                width: calc(100% - 64px);
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $line-input;
                border-radius: 6px;
                background-color: #fff;
                box-sizing: border-box;
            }
        }

        .expect-wrapper {
            word-break: keep-all;
        }
    }

    .invest-highlight-wrapper {
        .highlight-text-list {
            i.dot {
                font-size: 30px;
                margin-right: 5px;
            }

            // .dot {
            //     position: relative;
            //     padding-left: 12px;

            //     &:before {
            //         content: '';
            //         width: 4px;
            //         height: 4px;
            //         border-radius: 50%;
            //         background-color: #000;
            //         position: absolute;
            //         top: 10px;
            //         left: 0;
            //     }
            // }
        }
    }

    .safety-wrapper {
        .safety-text-list {
            .text-item {
                i {
                    margin-right: 8px;
                }

                i+.el {
                    flex: 1;
                }
            }
        }
    }
}

.invest-sms-content {
    .page-body {
        @include lv-layout-m-1;
        $mt: 24px;

        .body-text {
            margin-top: $mt;
        }

        .safety-picture {
            margin-top: $mt;
            text-align: center;
        }

        .safety-number {
            margin-top: $mt;
        }
    }
}

.invest-product-content {

    .product-card {
        display: block;
        padding: 24px 28px;
        box-shadow: 0 5px 20px rgba(46, 46, 46, .12);
        border-radius: 10px;

        @include screen-xxs {
            padding: 16px 20px;
        }


        &:not(:first-child) {
            margin-top: 16px;
        }

        [class^=item] {
            position: relative;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }

        .item-info {
            .el {
                position: relative;

                &:nth-child(1) {
                    flex: 1.5;
                }

                &:nth-child(2) {
                    flex: 1.4;
                }

                &:nth-child(3) {
                    flex: 1;
                }

                &:not(:first-child) {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: $line-base;
                    }
                }
            }
        }
    }

    .deposit-wrapper {
        @include lv-layout-p-1;
    }

    .invest-price-wrapper {
        @include lv-layout-p-1;

        .btn-area {
            .price-btn {
                height: 34px;
                border-radius: 17px;
            }

            .space {
                width: 4px;
            }
        }
    }

    .subtext-wrapper {
        @include lv-layout-p-1;

        .dot {
            position: relative;
            padding-left: 12px;

            &:before {
                content: '·';
                display: inline-block;
                position: absolute;
                left: 3px;
            }
        }
    }
}

.invest-notice-content {
    .body-title {
        @include lv-layout-p-1;
    }

    .notice-card {
        display: block;
        padding: 12px 16px;
        // box-shadow: 0 5px 20px rgba(46, 46, 46, .12);
        // border-radius: 10px;
        height: 176px;
        overflow: auto;
        box-sizing: border-box;
        background-color: $bg-1;

    }

    .notice-agree-wrapper {
        @include lv-layout-p-1;
    }
}