// $vertical-scroll: 17px;
// $vertical-scroll: 20px;
// $screen-xxs-width: 320px;
// $screen-xs-width: 576px;
// $screen-sm-width: 768px;
// $screen-md-width: 992px;
// $screen-lg-pd: 20px;
// $screen-lg-width: 1180px;

$hd-ht-m: 55px;
$hd-ht-pc: 90px;

$font-stack: ('Noto Sans KR', sans-serif);
$font-nnGothic: ("Nanum Gothic", Sans-serif);
$font-nnSquareR: ("NanumSquareRound", Sans-serif);
$font-ntss: ("Noto Sans KR", Sans-serif);
$font-dt: (Dotum, Sans-serif);
$font-jfss: ('Josefin Sans', sans-serif);

$font-color: #333;

$primary-color: #398fe1;
$primary-color-dark: #126cc3;

$btn-blue: #337ab7;
$btn-blue-dark: #2e6da4;
$btn-green: #5cb85c;
$btn-green-dark: #4cae4c;
$btn-aqua: #5bc0de;
$btn-aqua-dark: #46b8da;
$btn-orange: #f0ad4e;
$btn-orange-dark: #eea236;
$btn-red: #d9534f;
$btn-red-dark: #d43f3a;
$btn-gray: gray;