button {
    cursor: pointer;
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

b {
    font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="password"] {
    font-family: sans-serif;
}

.clr,
.cf {
    *zoom: 1;
}

.clr:after,
.cf:after {
    content: "";
    display: block;
    clear: both;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
}


.blind {
    visibility: hidden;
}

.fadeInUp,
.bounceIn,
.fadeIn,
.flipInX,
.fadeInLeft {
    visibility: visible;
}

/*폰트 색상*/
.bg-blue {
    background-color: #398fe1;
}

.bg-blue2 {
    background: #3584d0
}

.bg-skyblue {
    background-color: #52ade4;
}

.bg-darkBlue {
    background-color: #09345f;
}

.bg-gray {
    background: #aeaeae;
}

.bg-gray2 {
    background: #b4b4b4;
}

.bg-red {
    background: #f45454;
}

.bg-red2 {
    color: #ff3600 !important;
}

.bg-org {
    background: #ff5400 !important;
}

.bg-org2 {
    background: #f74200 !important;
}

.c-gray,
.fc-gray {
    color: #ccc;
}

.c-blue,
.fc-blue {
    color: #398fe1 !important;
    /* color: #126cc3; */
}

.fc-lightblue {
    color: #1072d1
}

.c-blue2,
.fc-blue2 {
    color: #126cc3;
}

.fc-blue3 {
    color: #0468c8
}

.c-white,
.fc-white {
    color: #fff;
}

.c-orange,
.fc-orange {
    color: #ff9a16;
}

.c-org {
    color: #ff5400;
}

.c-red,
.fc-red {
    color: #ee1c1c;
}

.fc-red2 {
    color: #e22424;
}

.fg-blue3 {
    color: #0066ff !important;
}

.c-green {
    color: #008b03 !important;
}

.ic-new {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    padding: 0 3px;
    font-weight: 700;
    background: #ff7600;
    color: #fff;
    letter-spacing: 0;
    font-family: "Nanum Gothic", sans-serif;
}

.ic-new.big {
    top: -1px;
    font-size: 12px;
    height: 21px;
    line-height: 20px;
    padding: 0 7px;
}

/*폰트 굵기*/
.f-bd {
    font-weight: 600;
}

.fwe-700 {
    font-weight: 700;
}

/*테두리*/
[class*=bor-] {
    box-sizing: border-box;
}

.bor-ddd {
    border: 1px solid #ddd;
}

.bor-white {
    border: 1px solid #fff;
}

.bor-blue {
    border: 1px solid #398fe1;
}

.br3 {
    border-radius: 3px;
}

.br4 {
    border-radius: 4px;
}

/*폰트 정렬*/
.ta-left,
.align-left {
    text-align: left !important;
}

.ta-right,
.align-right {
    text-align: right !important;
}

.ta-center,
.align-center {
    text-align: center !important;
}

.td-under {
    text-decoration: underline !important;
}


.iph3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ftfm-nn,
.ft-nn {
    font-family: "Nanum Gothic", "Nanum Square", sans-serif;
    letter-spacing: -0.5px;
}

.ftfm-nt,
.ft-nt {
    font-family: "Noto Sans KR", "Nanum Square", sans-serif;
    letter-spacing: -0.5px;
}

/* .ftfm-nt {font-family: "Noto Sans KR", "Malgun Gothic", "Nanum Gothic", sans-serif; letter-spacing: -0.5px;} */

/* 캔버스 커스타미이징 */
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* input태그 커스커마이징 */
.nr-box {
    position: relative;
}

.nr-ph {
    display: none;
    position: absolute;
    top: 17px;
    left: 1px;
    text-indent: 15px;
    color: #999;
}

.nr-text,
.nr-radio,
.nr-button,
.nr-reset,
.nr-select,
.nr-check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: #fff;
}

.nr-text+label,
.nr-radio+label,
.nr-check+label {
    vertical-align: middle;
    cursor: pointer;
}

.nr-text {
    border: 1px solid #ddd;
    outline: none;
}

.nr-radio,
.nr-check {
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
}

.nr-radio:checked,
.nr-check:checked {
    background-color: #fff;
}

select.nr-select::-ms-expand {
    display: none;
}

input.base-1,
select.base-1 {
    height: 32px;
    padding-left: 10px;
    width: 170px;
    box-sizing: border-box;
}

input.base-1 {
    border-color: transparent;
    border-bottom-color: #ddd;
}

select.base-1 {
    border: 1px solid #ddd;
    background: #fff url('https://nurifunding.co.kr/img/common/selectArr.png') no-repeat 94% center;
}

/* 공통속성 css */
hr {
    border: none;
    border-top: 1px solid #ddd;
}

input[type='image'] {
    outline: 0;
}

.aprnone {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.aprnone-inp {
    appearance: none;
    border: 0;
    outline: 0;
    border-radius: 0;
}

.aprnone-inp-bor {
    appearance: none;
    border: 1px solid #ddd;
    outline: 0;
    border-radius: 0;
}

.aprnone-btn {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    text-align: center;
}

.aprnone-btn-bor {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #ddd;
    outline: 0;
    background: none;
    text-align: center;
}

.aprnone-btn>span {
    position: relative;
    box-sizing: border-box;
}

.aprnone-btn:focus>span,
.aprnone-btn:active>span {
    position: relative;
    top: 0;
    left: 0;
}

.btn-base.btn-blue {
    background: #398fe1 !important;
}

.btn-base.btn-blue {
    background: #398fe1 !important;
}

.btn-base.btn-marine {
    background: #001753 !important;
}

.fixed {
    position: fixed !important;
    width: 100%;
}

label {
    cursor: pointer;
}

label * {
    vertical-align: middle;
}

.form-ta,
.form-input,
.form-chkbox,
.form-select {
    font-size: 16px;
    color: #666;
    letter-spacing: -0.4px;
    line-height: 1.3;
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.form-ta,
.form-input,
.form-select {
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
}

.form-input,
.form-select {
    height: 44px;
    padding-left: 20px;
}

.form-input:focus,
.form-select:focus {
    box-shadow: 0 0 5px 0 rgba(57, 143, 225, 0.8);
    border: solid 1px #398fe1;
}

.form-input {
    box-sizing: border-box;
}

input[type='password'] {
    font-family: 'Nanum Gothic', sans-serif;
}

.form-ta {
    padding: 12px 20px;
    resize: none;
}

.form-chkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    background-color: #fff;
}

.form-chkbox:checked {
    background: #fff url('http://img.nurifunding.co.kr/check-icon.png') no-repeat 2px 2px / 12px;
}

.form-select {
    background: #fff url('https://nurifunding.co.kr/img/common/selectArr.png') no-repeat right 20px center;
}

.popup {
    display: table;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    font-family: 'Noto Sans KR', sans-serif;
}

.popup-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.popup-container {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
}

.popup-header,
.popup-body,
.popup-footer {
    position: relative;
}

.modal {
    display: table;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    font-family: 'Noto Sans KR', sans-serif;
    /* opacity: 1;  */
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: opacity .3s ease-in-out;
}

.modal.enter {
    opacity: 1;
    visibility: visible;
}

.modal.enter .modal-container {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.modal.leave {
    opacity: 0;
    visibility: hidden;
}

.modal.leave .modal-container {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modal-header,
.modal-body,
.modal-footer {
    position: relative;
}

.bg-drop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

.bg-drop.on {
    opacity: 1;
    visibility: visible;
}

/* 리뉴얼에서는 .container 사용 X 대체 .group  사용 */
.row,
.group-f,
.group {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


.group-f {
    width: 100%;
}

.header .group,
.footer .group {
    overflow: visible;
}

.cf:after,
.clearfix:after,
.row:after,
.group-f:after,
.group:after {
    content: '';
    display: block;
    clear: both;
}

@media (min-width: 768px) {
    .group {
        /*width: 750px;*/
    }
}

@media (min-width: 992px) {
    .group {
        width: 970px;
        /* width: 100%; */
        /* width: 992px; */
    }
}

@media (min-width: 1120px) {

    .group-f,
    .group {
        width: 1100px;
    }

    .group.abs {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -550px;
    }
}


/*전체*/
.wrap {
    position: relative;
    width: 100%;
    min-width: 320px;
}

.contents,
.sec {
    position: relative;
}

.main {
    position: relative;
}

.section:before,
.section:after {
    content: "";
    display: block;
}

.section:after {
    clear: both;
}

.sec-container,
.row {
    position: relative;
}

.sec-container:after,
.row:after,
.list:after {
    content: "";
    display: block;
    clear: both;
}

.ip-per-bar {
    max-width: 100% !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.affix {
    position: fixed;
}

@media (max-width: 991px) {

    .form-input {
        height: 32px;
        padding-left: 8px;
        font-size: 13px;
    }

    .form-select {
        height: 32px;
        padding-left: 8px;
        font-size: 13px;
        background-position: right 10px center;
    }

    .form-ta {
        font-size: 13px;
        height: 60px;
        padding: 8px;
    }

    .form-chkbox {
        font-size: 13px;
        width: 15px;
        height: 15px;

        &:checked {
            background: #fff url('http://img.nurifunding.co.kr/check-icon.png') no-repeat 2px 2px / 9px;
        }
    }
}

@media (max-width: 767px) {

    .dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: #333;

        .btn {
            position: relative;
            border: 1px solid #ddd;
            background: #fff;
            color: #333;
            box-sizing: border-box;
            padding: 0px 10px;
            border-radius: 6px;
            text-align: left;
            outline: none;
            width: 100%;
            font-size: 13px;
            height: 29px;
            line-height: 26px;

            span {
                position: relative;
                font-size: 10px;
                color: #398FE2;
            }
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            border: 1px solid #ddd;
            background: #fff;
            border-radius: 6px;
            margin-top: -1px;
            z-index: 1;
            width: 100%;

            li {
                a {
                    display: block;
                    padding: 5px 10px;
                    line-height: 1.2em;
                    font-size: 1em;
                    text-align: left;

                    &:hover {
                        color: #398fe2;
                    }
                }
            }
        }
    }

    .form-box {
        position: relative;

        * {
            vertical-align: middle;
        }
    }

    .form-check {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        background: #fff;
        border: 1px solid #ddd;
        outline: none;
        cursor: pointer;
        width: 17px;
        height: 17px;

        &:checked {
            background: #fff url(http://img.nurifunding.co.kr/check-icon.png) no-repeat 3px 2px;
            background-size: 10px;
        }
    }

    .form-radio {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        background: #fff;
        border: 1px solid #ddd;
        outline: none;
        cursor: pointer;
        width: 17px;
        height: 17px;
        border-radius: 50%;

        &:checked {
            background: #fff url(https://nurifunding.co.kr/img/radio_icon.png) no-repeat -1px;
            background-size: 17px;
        }
    }

    .form-base {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        position: relative;
        vertical-align: middle;
        background: #fff;
        height: 29px;
        padding: 0 5px;
        padding-bottom: 2px;
        width: 50px;
        box-sizing: border-box;
        font-size: 13px;
        border: 1px solid #ddd;
    }

    .btn-base {
        position: relative;
        vertical-align: middle;
        box-sizing: border-box;
        color: #fff;
        background: #398fe1;
        height: 26px;
        padding: 0 5px;
        border-radius: 3px;
        line-height: 26px;
        font-size: 13px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .hidden-md {
        display: none !important;
    }

    .hidden-lg {
        display: none !important;
    }

    .show-md {
        display: block !important;
    }

    .show-lg {
        display: block !important;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: #333;

        .btn {
            position: relative;
            border: 1px solid #ddd;
            background: #fff;
            color: #333;
            box-sizing: border-box;
            padding: 0px 10px;
            border-radius: 6px;
            text-align: left;
            outline: none;
            width: 100%;
            font-size: 16px;
            height: 36px;
            line-height: 29px;

            span {
                position: relative;
                font-size: 10px;
                color: #398FE2;
            }
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            border: 1px solid #ddd;
            background: #fff;
            border-radius: 6px;
            margin-top: -1px;
            z-index: 1;
            width: 100%;

            li {
                a {
                    display: block;
                    padding: 5px 10px;
                    line-height: 1.2em;
                    font-size: 1em;
                    text-align: left;

                    &:hover {
                        color: #398fe2;
                    }
                }
            }
        }
    }

    .form-base {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background: #fff;
        height: 36px;
        padding: 0 5px;
        padding-bottom: 2px;
        width: 170px;
        box-sizing: border-box;
        font-size: 16px;
        border: 1px solid #ddd;
    }

    .form-box {
        position: relative;

        * {
            vertical-align: middle;
        }
    }

    .form-check {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        background: #fff;
        border: 1px solid #ddd;
        outline: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        top: -1px;

        &:checked {
            background: #fff url(http://img.nurifunding.co.kr/check-icon.png) no-repeat 3px 3px;
            background-size: 12px;
        }
    }

    .form-radio {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        background: #fff;
        border: 1px solid #ddd;
        outline: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        &:checked {
            background: #fff url(https://nurifunding.co.kr/img/radio_icon.png) no-repeat -1px;
            background-size: 20px;
        }
    }

    .btn-base {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        color: #fff;
        background: #398fe1;
        height: 36px;
        padding: 0 5px;
        border-radius: 3px;
        line-height: 36px;
        font-size: 14px;
        text-align: center;
    }
}